@import "../utilities/variables";
.addemployee_container {
  .addemployee_mandatory {
    outline: 1px solid $main_color;
    border-radius: 10px;
    box-shadow: 9px 8px 12px -9px #42445a;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 2rem 0 2rem;
    .addemployee_mandatory_flex {
      display: flex;
      justify-content: space-around;
      .mandatory_right,
      .mandatory_left {
        flex-basis: 400px;
      }
    }
  }
}
