@import "../utilities/variables";
.employees_container {
    .employees_main {
        padding: 1rem;
        border-top: 2px solid $divider_color;
        .searchbox_container {
            .employees_search {
                padding: 1rem;
                margin-right: 1rem;
                font-size: 1rem;
            }
        }
    }
    .employees_list {
        padding: 1rem 1rem 1rem;
        .list_table {
            padding-top: 1rem;
        }
    }
}
