@import "../utilities/variables";
.employees_container {
  .employees_main {
    padding: 1rem;
  }
  .employees_list {
    padding: 1rem 1rem 1rem;
    .list_table {
      padding-top: 1rem;
    }
  }
}
