@import "../utilities/variables";
.context_menu {
    position: absolute;
    z-index: 2;
    width: 200px;
    background-color: $main_color;
    opacity: 0.97;
    -webkit-box-shadow: 10px 12px 16px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 10px 12px 16px -10px rgba(66, 68, 90, 1);
    box-shadow: 10px 12px 16px -10px rgba(66, 68, 90, 1);
    color: white;
    .context_menu_list {
        font-size: 1rem;
        list-style: none;
        text-align: left;
        li {
            padding:0.8rem 1rem;
            &:hover {
                background-color: $hover_color;
            }
            &:first-child {
                background-color: rgb(1, 33, 120);
            }
        }
    }
}
