@import "../utilities/variables";
.item_link {
  text-decoration: none;
  .menu_item {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      background-color: $hover_color;
    }
    .menu_title {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
  }
}
