@import "../utilities/variables";
.sidebar_container {
    width: 300px;
    height: 100vh;
    background-color: $main_color;
    border-top: 1px solid white;
    position: absolute;
    transition: .3s ease;
    left: -240px;
}