@import "../utilities/variables";
.user_container {
    display: flex;
    .left_container {
        display: flex;
        align-items: flex-end;
        .user_data {
            text-align: right;
        }
    }
    .right_container {
        .profile_pic {
            width: 50px;
            height: 50px;
            background-color: rgb(204, 201, 201);
            border: 3px solid $main_color;
            border-radius: 50%;
            margin-left: 1rem;
            cursor: pointer;
        }
    }
}
