.view_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    .view_title_section {
        .view_title {
            font-size: 2rem;
        }
    }
}
