@import "../utilities/variables";
.view_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 2px solid $divider_color;
  .view_title_section {
    .view_title {
      font-size: 2rem;
    }
  }
}
